.home-layout2-container {
  height: 1200px;
  background-color: #37424e;
}
.layout2-block {
  height: 50%;
  width: 1000px;
  display: flex;
  margin: auto;
}
.col-2-3 {
  width: 60%;
  height: 100%;
}
.col-1-3 {
  width: 40%;
  height: 100%;
}

.intro-1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-top: 120px;
  margin: 0;
}
.intro-2 {
  color: #5f7284;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin: 0;
  margin-bottom: 40px;
}
.about-company-text-2 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}
.image-oval {
  padding-top: 130px;
  padding-left: 150px;
}
