.wrapper-recent {
  padding-top: 40px;
}
.wrapper-title-recent {
  padding-bottom: 10px;
}
.title-recent-text {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 50px;
}
.explore-more-work {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: black;
  text-align: right;
  display: block;
}
.wrapper-work-image {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.work-images {
  width: 480px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}
.work-image {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.banner {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  background-color: #424958;
}
.banner-content {
  text-align: center;
  justify-content: center;
  color: white;
  padding-top: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.work-images:hover .work-image {
  transform: scale(1.2);
}
.work-images:hover .banner {
  opacity: 0.5;
  margin: auto;
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .work-images {
    width: 280px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
  }
}
