.home-banner {
  padding: 80px 0;
}

.slogan {
  color: #252525;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 10%;
}
.introduce {
  color: #252525;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding-right: 100px;
  padding-top: 20px;
  font-weight: normal;
}
.about-company-text {
  color: #252525;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-decoration: none;
  line-height: 4;
}
.image-introduce {
  width: 400px;
}

.header-logo {
  align-self: flex-end;
  text-align: right;
}
