.wrapper-title-partner {
}
.title-partner-text {
  font-size: 54px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 60px;
}
.wrapper-logos {
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.partner-logo-wrapper {
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-logo {
  width: 40%;
  vertical-align: middle;
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .title-partner-text {
    font-size: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .partner-logo-wrapper {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-partner-text {
    font-size: 20px;
  }
}
