.header {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: auto;
}
.company-logo {
  cursor: pointer;
  padding-top: 40px;
}
.items {
  margin-left: auto;
  display: flex;
  padding-top: 50px;
}
.item {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  padding-right: 60px;
  color: black;
  text-decoration: none;
}
.menu-text {
  color: black;
  padding: 20px 16px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  display: block;
  font-size: 30px;
  text-align: right;
}
.menu-text:hover {
  opacity: 0.5;
  font-size: 35px;
}
.item:last-child {
  padding-right: 0px;
}
.item-menu {
  display: none;
}
.icon-menu {
  width: 80%;
}
.is-active {
  font-weight: bold;
}
.menu-wrapper {
  position: relative;
  z-index: 200;
  opacity: 0;
}
.menu-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 700px;
  top: 48px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out;
  /* transition: all 1s ease-in-out; */
}
.menuAnimation-enter {
  opacity: 0;
}
.menuAnimation-enter-active {
  opacity: 1;
  transition: all 800ms ease-out;
}
.menuAnimation-exit {
  opacity: 1;
}
.menuAnimation-exit-active {
  opacity: 0;
  transition: all 1s ease-out;
}

/* .menu-content .menu-text {
  animation: showing 1s;
}

.menu-content .menu-text:nth-child(1) {
  animation-delay: 0.2s;
}

.menu-content .menu-text:nth-child(2) {
  animation-delay: 0.4s;
}

.menu-content .menu-text:nth-child(3) {
  animation-delay: 0.5s;
}

.menu-content .menu-text:nth-child(4) {
  animation-delay: 0.6s;
}

.menu-content .menu-text:nth-child(5) {
  animation-delay: 0.7s;
}

@keyframes showing {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0.3;
  }
  65% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
} */
.menu-active,
.menu-closing {
  visibility: visible;
  opacity: 1;
}

.menu-active .menu-text {
  animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  animation-fill-mode: both;
}

.menu-active .menu-text:nth-child(1),
.menu-closing .menu-text:nth-child(1) {
  animation-delay: 200ms;
}

.menu-active .menu-text:nth-child(2),
.menu-closing .menu-text:nth-child(2) {
  animation-delay: 400ms;
}

.menu-active .menu-text:nth-child(3),
.menu-closing .menu-text:nth-child(3) {
  animation-delay: 600ms;
}

.menu-active .menu-text:nth-child(4),
.menu-closing .menu-text:nth-child(4) {
  animation-delay: 800ms;
}

.menu-active .menu-text:nth-child(5),
.menu-closing .menu-text:nth-child(5) {
  animation-delay: 1000ms;
}

.menu-closing .menu-text {
  animation-name: fadeOutDown;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .header {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    margin: auto;
  }
  .menu-wrapper {
    opacity: 1;
  }
  .menu-text:last-child {
    padding-bottom: 350px;
  }
  .items {
    margin-left: auto;
    display: flex;
    padding-top: 40px;
  }
  .logo-main {
    width: 70%;
    cursor: pointer;
  }
  .item {
    display: none;
  }
  .item-menu {
    display: flex;
  }
  .icon-menu {
    width: 60%;
  }
}
@media screen and (max-width: 680px) {
  .item {
    display: none;
  }
  .item-menu {
    display: flex;
  }
  .header {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    margin: auto;
  }
  .logo-main {
    width: 50%;
    cursor: pointer;
  }
  .icon-menu {
    width: 60%;
  }
  .items {
    margin-left: auto;
    display: flex;
    padding-top: 40px;
  }
  .menu-wrapper {
    opacity: 1;
  }
  .menu-text {
    font-size: 24px;
  }
  .menu-text:hover {
    font-size: 28px;
  }
  .menu-text:last-child {
    padding-bottom: 150px;
  }
}
