.footer-wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 50px 0 20px 0;
}
.col-1 {
  width: 50%;
}
.location-text-wrapper {
  display: flex;
}
.location-text {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding-right: 30px;
  margin-top: 30px;
}
.location-text-title {
  cursor: pointer;
}
.location-text-title-bold {
  font-weight: bold;
  cursor: pointer;
}
.footer-text {
  color: #7a7a7a;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding-top: 30px;
}
.footer {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}
.social-text {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding-right: 40px;
  margin-top: 30px;
}
.social-text:last-child {
  padding-right: 0px;
}
.social-text:hover {
  font-weight: bold;
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .footer-wrapper {
    max-width: 700px;
    margin: auto;
    padding: 50px 0 20px 0;
    display: flex;
  }
  .col-1 {
    width: 100%;
  }
  .footer {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 700px) {
  .footer-wrapper {
    max-width: 300px;
    margin: auto;
    padding: 50px 0 20px 0;
    display: flex;
  }
  .col-1 {
    width: 100%;
  }
  .footer {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
  }
  .footer-text {
    font-size: 10px;
  }
  .social-text {
    font-size: 10px;
  }
  .location-text {
    font-size: 10px;
  }
}
